/* www.alsina.xyz | Alchemically bonded by Sebastian Alsina (@youngseebi) */

/* [==] COLORS [==]
 * 1:
 * 2:
 * 3:
 * 4:
*/


/* [==] FONTS [==]*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500');

/*
 * [==] General [==]
*/

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

a {
    color: hotpink;
}

.box {
    width: 100%;
    max-width: 560px;
    height: auto;
    max-height: 90%;
    margin: auto;
    text-align: center;
}


.box img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 8px;
}

.box span {
    display: block;
    margin-bottom: 32px;
    font-size: 0.7em;
    font-weight: 100;
}


.box h1 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 22px;
}

.box h2 {
    font-size: 0.7em;
    opacity: 0.6;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {}